<div>
  <ul>
    <li><p><%= @question %></p></li>
    <li><p>You</p></li>
  </ul>
</div>

<br>

<div>
  <ul>
    <li><p><%= @answer %></p></li>
    <li><p>coach</p></li>
  </ul>
</div>

<%= link_to "Ask a new question", ask_path %>
